.subtitle {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.cardContainer {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
